.nav-btn{
    border: 0;
    border-radius: 30px;
    height: 50px;
    background: linear-gradient(to right, #32ce73 50%, #2cbac6 100%);
    color: white;
    text-align: center;
}

.image{
    width: 450px;
    position: relative;
    /* left: 150px; */
    bottom: 60px;
    z-index: 1;
}
text{
    width: 20%;
}
.navbar{
    z-index: 2;
}
.image1{
    position: relative;
    /* left: 150px; */
    bottom: 150px;
    z-index: 1;
    width: 250px;
    height: 400px;
}
.contains{
    /* height: 500px; */
    background-color: #F2F4F5;
}
.header2{
    color: black;
    font-weight: 500;
}
.para {
    margin-bottom: 0;
    color: #A8A9B0;
  }
  
  .para + .para {
    margin-top: 0;
  }
.hold{
    padding: 50px;
}
.holder{
    padding: 0.5px;
}
.articles{
    /* background-color: black; */
    /* height: 100vh; */

}
.paras{
    font-weight: 10;
    color: #A8A9B0;
}
.footer{
    background-color: #2D314E;
    min-height: 250px;
    
}
.last-image{
    filter:invert(100%) sepia(100%) saturate(1000%) hue-rotate(180deg);

}
li{
    list-style: none;
    color: white;
}